/*
 * Basic graphite configuration
 *
 * The values are used througout the Graphite framework.
 */



/*
 * Values
 */
$gp_paragraphSpacing:    1em;       /* Space between paragraphs */
$gp_lineHeight:          1.5em;     
$gp_baseFontSize:        12px;


/*
 * Responsive design
 */
$gp_desktop:             960px;     /* Values higher than this are considered desktop screens */
$gp_mobile:              500px;     /* Values lower than this are considered mobile devices */
									/* Width lower than desktop and higher than mobile is considered tablet */

/*
 * Colors
 */
$gp_colorHigh:           #fff;      /* Lightest color in the website */
$gp_colorLow:            #000;      /* Darkest color in the website */
$gp_colorMain:           #55548F;   /* Base color for this website */
$gp_colorLink:           darken($gp_colorMain, 20%);   /* Default color link */
$gp_colorAlert:          #f00;      /* Base color for alert boxes */
$gp_colorAttention:      #F9FF04;   /* Base color for boxes with important information */

$gp_gridSpacing:         10px;      /* Gutter between columns */
$gp_gridBlockPadding:    $gp_gridSpacing / 2;  /* Spacing between blocks in a column */
